@use '@scss/variables.scss' as *;

.button_style {
  font-size: 0.8rem;
  font-weight: 500;
  color:white;
  border: 2px solid #83DA58;
  border-radius: 5px;
  background-color:#83DA58;
  height:100%;
  &:hover {
    border: 2px solid #83DA58
  };
}

.collaboration_container {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.editor_container {
  height: 95%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editor_toolbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output_section {
  width:30%;
  height:95%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}