@use '@scss/variables.scss' as *;

.chat_container {
  width: 100%;
  height: 100%;

}

.chat_grid_container {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
}

.chat_list {
  width: 100%;
  height: 90%;
  overflow-y: auto;
}

.divider_style {
  background: grey;
  margin-top: 1rem;
}

.chat_input_container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}