.editor_container {
  height: 95%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editor_toolbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}